.popup__button-save {
  width: 358px;
  height: 50px;
  background: black;
  margin: 18px 36px 37px;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}

.popup__button-save:hover {
  transition: 0.1s;
  opacity: 0.8;
  cursor: pointer;
}

.popup__button-save:disabled {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  color: black;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .popup__button-save {
    width: 238px;
    margin: 20px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}