.popup__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  font-size: 12px;
  margin-left: 36px;
  color: #FF0000;
  position: absolute;
  left: 0;
  top: 32px;
}

@media screen and (max-width: 767px) {
  .popup__input-error {
    margin-left: 22px;
  }
}