.header {
	max-width: 880px;
	border-bottom: 1px solid rgb(84, 84, 84, .7);
	margin: 0 auto;
}

@media  screen and (max-width:1023px){
	.header {
		max-width: 581px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		max-width: 320px;
	}
}